:root {
    --font-size-primary: 0.906rem; /* 14.5px */
    --font-size-secondary: 0.688rem; /* 11px */

    --foreground: rgba(255, 255, 255, 0.9);
    --background: #040303;

    --border-color: rgba(255, 255, 255, 0.85);
    --border-shorthand: 0.063rem solid var(--border-color);

    --seven: 0.438rem; /* 7px */
    --twelve: 0.75rem; /* 12px */
}

*, *::before, *::after {
    color: var(--foreground);
    background-color: var(--background);
    box-sizing: border-box;
}

body { /* Left & right spacing is left & right from default body margin + 12px */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 91vh;
    margin-top: 4.5vh;
    margin-bottom: 4.5vh;
    padding: var(--twelve);
    font-size: var(--font-size-primary);
    text-align: center;
}

main {
    width: 100%;
	max-width: 23.125rem;
}

.__layer-one,
._layer-two,
video {
	border: var(--border-shorthand);
}

._layer-two {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin: 7% auto 0 auto;
}

video {
	margin-top: 8%;
	max-width: 80%;
}

h2, h3 {
	margin-left: var(--twelve);
	margin-right: var(--twelve);
}

/* Notice / Link */

#notice {
    margin-top: 0.656rem;
    padding: 0 var(--seven);
    font-size: var(--font-size-secondary);
    line-height: 1.1;
    word-wrap: break-word;
}

/* Media Query */

/* Font Size */
@media (max-width: 30rem) { /* 480px */
	html {
		font-size: calc(1rem - 10%);
	}
}
/* -------- */